@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'AvenirBlack';
        src: url('/fonts/AvenirLTStd-Black.otf') format('otf');
    }
}

@layer utilities {
    .title-shadow {
        text-shadow: 3px 8px 5px black;
        line-height: 85.6000006198883%;
    }
    .line-shadow {
        box-shadow: 2px 2px 0px #292929;
    }
    .subtitle-shadow {
        text-shadow: 3px 6px 5px black;
    }
    .button-shadow {
        box-shadow: 0px 5px 20px black;
    }
}
