@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Avenir Black';
        src: url('/public/fonts/avenirblack.otf') format('otf');
    }
    @font-face {
        font-family: 'Avenir Roman';
        src: url('/public/fonts/AvenirLTStd-Ronman.otf') format('otf');
    }
    @font-face {
        font-family: 'Avenir Book';
        src: url('/public/fonts/AvenirLTStd-Book.otf') format('otf');
    }
}

@layer utilities {
    .title-shadow {
        text-shadow: 2px 4px 5px black;
        line-height: 85.6000006198883%;
    }
    .line-shadow {
        box-shadow: 2px 2px 0px #292929;
    }
    .subtitle-shadow {
        text-shadow: 2px 2px 5px black;
    }
    .button-shadow {
        box-shadow: 2px 2px 5px black;
    }
}
